MYSQL_DATABASE=todo_db
MYSQL_USERNAME=root
MYSQL_PASSWORD=123456

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=0

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUAL_HOST=/

JWT_SECRET=todo-local-dev-jwt-secret-key-must-be-at-least-32-bytes

XXL_JOB_ADMIN_ADDRESSES=http://127.0.0.1:8088/xxl-job-admin
XXL_JOB_ACCESS_TOKEN=todo-demo-xxl-token
XXL_JOB_EXECUTOR_APP_NAME=todo-executor
XXL_JOB_EXECUTOR_PORT=9999
